# server/.env

# server port configuration
PORT=5000

# frontend url for cors
CLIENT_URL="http://localhost:5173"

# neon db connection string
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"

# jwt secret key for signing tokens
JWT_SECRET="kairo_super_secret_key_abhi_ke_liye_test_hai"